* {
	box-sizing: border-box;
}

@font-face {
    font-family: 'Noto Sans JP';
    src: url('/static/data/NotoSansJP-Regular.otf');
}

body {
	background-color: #000;
	color: #aaa;
	font: 18px 'Noto Sans JP',sans-serif;
}

a:link, a:visited, a:active {
	color: #58a;
	text-decoration: none;
}
a:hover {
	color: #5ad;
}

a.back {
	font-size: 36px;
}

input, button {
	background-color: #222;
	color: inherit;
	border: 1px solid #444;
	font: inherit;
}

main, header {
	width: 90%;
	max-width: 1200px;
	margin: 10px auto;
	background-color: #111;
}
main {
	padding: 25px;
}
main section {
	margin: 15px 10px;
	padding: 5px;
	border: 1px solid #222;
}
header {
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}
header #langs {
	display: flex;
	align-content: center;
	gap: 2ch;
}
header #langs div {
	line-height: 36px;
	cursor: pointer;
	border: 1px solid #333;
	padding: 0 2ch;
	transition: border-color 0.2s, background-color 0.2s;
}
header #langs div:hover, header #langs div.selected {
	border-color: #555;
	background-color: #222;
}

main.root {
	display: flex;
	justify-content: space-evenly;
	margin-top: 50px;
}

main.spells section.evolved {
	margin-left: 100px;
}
main.spells section div {
	margin: 0.5em;
}
main.spells section .levels {
	display: none;
}
main.spells section .levels.visible {
	display: block;
}
main.spells section .levels .level {
	margin: 0 0 0 4ch;
}

footer {
	margin-top: 100px;
	text-align: center;
	font-family: monospace;
	font-size: 14px;
}
