{% extends 'base.jinja2' %}

{% block header %}
<div id="langs"></div>
{% endblock header %}

{% block body %}
<main>
	<input type="search" id="search">
	<div class="buffs"></div>
</main>

<script src="/static/buffs.js" type="module"></script>
{% endblock body %}
