{% extends 'base.jinja2' %}

{% block header %}
<div id="langs"></div>
{% endblock header %}

{% block body %}
<main>
	<input type="search" id="search">
	<div class="spells"></div>
</main>

<script src="/static/spells.js"></script>
{% endblock body %}
